"on":
    push:
        branches:
            - main
name: Deploy to frontend
jobs:
    porter-deploy:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout code
              uses: actions/checkout@v4
            - name: Set Github tag
              id: vars
              run: echo "sha_short=$(git rev-parse --short HEAD)" >> $GITHUB_OUTPUT
            - name: Setup porter
              uses: porter-dev/setup-porter@v0.1.0
            - name: Deploy stack
              timeout-minutes: 30
              run: porter apply
              env:
                PORTER_APP_NAME: frontend
                PORTER_CLUSTER: "4709"
                PORTER_DEPLOYMENT_TARGET_ID: de776bb5-235d-4c7a-829c-c7d3cb4e702c
                PORTER_HOST: https://dashboard.porter.run
                PORTER_PROJECT: "15255"
                PORTER_TAG: ${{ steps.vars.outputs.sha_short }}
                PORTER_TOKEN: ${{ secrets.PORTER_APP_15255_1117130299 }}
